@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model Skoruba.Duende.IdentityServer.STS.Identity.ViewModels.Account.RegisterConfirmationViewModel
@{
    ViewData["Title"] = Localizer["ConfirmEmailTitle"];
}

<div class="py-8">
    <h1 class="text-4xl font-bold mb-6">@ViewData["Title"]</h1>

    <div class="alert-default">
        <lucideicon name="check" class="h-4 w-4" />
        <div>
            <div class="alert-description">
                @Localizer["VerificationSent"]
            </div>
        </div>
    </div>
</div>