@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = Localizer["Title"];
}

<div class="py-8">
    <h1 class="text-4xl font-bold mb-6">@ViewData["Title"]</h1>
    <p class="text-lg">
        @Localizer["ConfirmMessage"] <a class="text-primary hover:underline" asp-controller="Account" asp-action="Login">@Localizer["Login"]</a>.
    </p>
</div>