@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;

    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 140 74% 44%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;

    --chart-recommendation: 221.2 83.2% 53.3%;
    --chart-danger: 0 84% 60%;
  }
 
  .dark {
    --background: 222 40% 6%;
    --foreground: 210 40% 96%;
 
    --card: 222 32% 10%;
    --card-foreground: 210 40% 96%;
 
    --popover: 222 32% 10%;
    --popover-foreground: 210 40% 96%;
 
    --primary: 221.2 83.2% 53.3%;
    --primary-foreground: 0 0% 100%;
 
    --secondary: 217 24% 18%;
    --secondary-foreground: 210 40% 96%;
 
    --muted: 217 22% 14%;
    --muted-foreground: 215 20% 70%;
 
    --accent: 217 24% 18%;
    --accent-foreground: 210 40% 96%;
 
    --destructive: 0 72% 46%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 217 20% 24%;
    --input: 217 20% 20%;
    --ring: 221 83% 63%;

    --chart-1: 221.2 83.2% 53.3%;
    --chart-2: 212 95% 68%;
    --chart-3: 140 74% 44%;
    --chart-4: 210 98% 78%;
    --chart-5: 212 97% 87%;

    --chart-green: 220 70% 50%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
