@model string

@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "alert-destructive" : "alert-default";
    var iconName = Model.StartsWith("Error") ? "alert-circle" : "check";
    <div class="@statusMessageClass mb-4">
        <lucideicon name="@iconName" class="h-4 w-4" />
        <div>
            <div class="alert-description">@Model</div>
        </div>
    </div>
}