@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@model string

<div class="py-8">
    <div class="card max-w-md">
        <div class="card-header">
            <h2 class="card-title">@Localizer["Title"]</h2>
        </div>
        <div class="card-content">
            @await Html.PartialAsync("_ValidationSummary")
            <form asp-action="UserCodeCapture" method="post" class="space-y-4">
                <div class="form-item">
                    <label for="userCode" class="form-label">
                        <lucideicon name="smartphone" class="inline-block h-4 w-4 mr-1" />
                        @Localizer["EnterCode"]
                    </label>
                    <input id="userCode" name="userCode" placeholder="@Localizer["EnterCode"]" class="input" tw-validation />
                </div>
                <button class="btn-default w-full">
                    <lucideicon name="arrow-right" class="inline-block h-4 w-4 mr-2" />
                    @Localizer["Submit"]
                </button>
            </form>
        </div>
    </div>
</div>
